


<br><br>
<br><br><br>

<div>
<h1  class="focus-in-contract-bck"   style="font-family: serif; text-align: center; font-size: 50px; "> The Product</h1>
<br>
<br>

<button type="button" style="float: right; margin-right:70px;" class="tt" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<br>
<br>
<br><br>



<div class="body" style="margin-left: 100px; margin-right: 100px">
  <div class="rws">
    <div class="row">
      <div class="col col-12 col-md-6 col-lg-3" *ngFor="let item of dataarry">
        <div class="card" style="width: 18rem; margin-top: 30px;  ">
          <img [src]="item.image || 'default-image-url.jpg'" class="card-img-top" alt="Product Image">
        
          <div class="card-body">
            <h1 class="card-title">{{ item.title }}</h1>
            <p class="card-text">{{ item.text }}

            </p>   <a href="#" class="button">Détails</a>
          </div>
        </div>
      </div>
    </div>
</div>
</div>





    




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
     
  
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="ajout(f)">
        <div class="mb-3">
          <label  class="form-label"  for="title" >title :</label>
          <input type="text" class="form-control" id="title" placeholder="title" name="title"ngModel required #title="ngModel">
          

        
        </div>

        <div class="mb-3">
          <label class="form-label" for="exampleFormControlTextarea1">Example textarea :</label>
          <textarea class="form-control" id="exampleFormControlTextarea1"name="text" rows="5" placeholder="description"ngModel required #text="ngModel"></textarea>
        </div>
        <div class="mb-3">
          <label  class="form-label" for="exampleInputimage">Image :</label>
          <input type="text" class="form-control" id="exampleInputimage" name="image" placeholder="image" ngModel required #image="ngModel">
          <div class="form-text"></div>
        </div>
        
     
      <div class="modal-footer">
        <button type="button" class="button1" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        <div class="alert alert-success"*ngIf="message">{{message}}</div>
       
      </div>
        </form>
  </div>

</div>